.config/vesktop/Crashpad
.config/vesktop/sessionData
.config/vesktop/settings.json
.config/vesktop/state.json
.config/vesktop/settings/quickCss.css
.config/vesktop/SingletonCookie
.config/vesktop/SingletonLock
.config/vesktop/SingletonSocket
.config/cava/shaders
