#!/usr/bin/bash

source $HOME/.config/bashmods/do-not-source/wal.bash

mkcd() {
    mkdir "$1"
    cd "$1"
}

cdls() {
    cd "$1"
    ls
}

alias clr="clear"
alias x="exit"
alias py="python"
untar() {
    tar -xvzf "$1"
}

alias bat="bat --color=always"
alias ls="ls -a" # override default 'ls' with 'ls -a'

PS1='\[\e[0;36m\]$(date +\T | cut -c1-5) \d \[\e[1;34m\]\u\[\e[0;35m\] \w \[\e[1;37m\] \n\$ '

if [ -d "$HOME/.config/bashmods" ]; then
  for file in "$HOME/.config/bashmods"/*; do
    [ -f "$file" ] && { source "$file"; echo "Sourced: $file"; }
  done
  echo "Sourcing bashmods exited with code $(echo $?), nice bashing!"
else
  echo "Directory $HOME/bashmods does not exist."
fi

clear
# ff
hyfetch
